body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: #fff;
    margin: 0;
    justify-self: center;
    padding: 20px;
}
nav {
    position: sticky;
    top: 0;
    background: #222;
    padding: 15px;
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
#user-info {
    display: flex;
    align-items: center;
    display: none;
}
h2{
    font-size: 15px;
}
#user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    display: none;
}
#user-info span {
    margin-left: 10px;
}
#logout-btn {
    display: none;
    margin-left: 5px;
    width: max-content;
    font-size: 15px;
}
.login{
    width: max-content;
    font-size: 15px;
}
.leaderboard-refresh{
    font-size: 13px;
    color: gray;
    margin-top: 1.5rem;
}
#game-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
}
#bitcoin {
    font-weight: bold;
}
#verified-badge {
    color: #1DA1F2; /* Twitter Blue */
    font-weight: bold;
    margin-left: 3px;
    margin-right: 5px;
}

.ri-vip-crown-fill{
    color: gold;
}

button {
    background: #f7931a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background 0.3s;
}
button:hover {
    background: #ff9900;
}
h1{
    font-size: 20px;
}
.info{
    text-decoration: underline;
}
.email-title{
    text-align: center;
}
#email-container {
    margin-top: 20px;
    padding: 20px;
    background: #222;
    border-radius: 10px;
    text-align: left;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#email-list {
    list-style: none;
    padding: 0;
}

#email-list li {
    padding: 10px;
    border-bottom: 1px solid #333;
}

#send-email-container {
    margin-top: 20px;
    padding: 20px;
    background: #222;
    border-radius: 10px;
    text-align: left;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.email-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.email-message {
    margin-bottom: 10px;
    font-size: 16px;
}

.love-btn {
    background: #444;
    border: none;
    color: #fff;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    width: 55px;
    text-align: center;
    border-radius: 5px;
    display: block;
    margin-top: 5px;
}

.ri-heart-3-fill{
    color: #f00;
    font-size: 15px;
}

textarea {
    width: 300px;
    height: 100px;
    padding: 20px 20px 35px;
    resize: none;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
}
#ban-container{
    margin-top: 20px;
    padding: 20px;
    background: #222;
    border-radius: 10px;
    text-align: left;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#ban-username{
    width: 300px;
    height: 30px;
    resize: none;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
}
.banUser{
    justify-self: center;
    display: grid;
    justify-content: center;
    position: relative;
    width: 305px;
}
#leaderboard-container {
    margin-top: 20px;
    padding: 20px;
    background: #222;
    border-radius: 10px;
    text-align: left;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.send-button{
    justify-self: center;
    display: grid;
    justify-content: center;
    position: relative;
    width: 350px;
}
#leaderboard h2 {
    text-align: center;
}
#leaderboard-list {
    list-style: none;
    padding: 0;
}
#leaderboard-list li {
    padding: 8px;
    border-bottom: 1px solid #444;
}

@media (max-width: 765px) {
    .container{
        width: 400px;
    }
    h2{
        font-size: 15px;
    }
    .login{
        width: max-content;
        font-size: 15px;
    }
    .log-out{
        width: max-content;
        font-size: 15px;
    }

    textarea {
        width: 300px;
    }

    .send-button{
        width: 350px;
    }
}