body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: #fff;
    margin: 0;
    justify-self: center;
    padding: 20px;
}
nav {
    background: #222;
    padding: 15px;
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#user-info {
    display: flex;
    align-items: center;
    display: none;
}
#user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    display: none;
}
#user-info span {
    margin-left: 10px;
}
#logout-btn {
    display: none;
    margin-left: 10px;
}
#game-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
}
#bitcoin {
    font-weight: bold;
}
#verified-badge {
    color: #1DA1F2; /* Twitter Blue */
    font-weight: bold;
    margin-left: 5px;
}

button {
    background: #f7931a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background 0.3s;
}
button:hover {
    background: #ff9900;
}
h1{
    font-size: 20px;
}
.info{
    text-decoration: underline;
}
#leaderboard-container {
    margin-top: 20px;
    padding: 20px;
    background: #222;
    border-radius: 10px;
    text-align: left;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#leaderboard h2 {
    text-align: center;
}
#leaderboard-list {
    list-style: none;
    padding: 0;
}
#leaderboard-list li {
    padding: 8px;
    border-bottom: 1px solid #444;
}
@media (max-width: 768px) {
    h2{
        font-size: 15px;
    }
    .login{
        width: 165px;
        font-size: 15px;
    }
    .log-out{
        width: 100px;
    }
}